<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418644416809-sall3n5fbqjto7cv5soutpjjh24hfj60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418644416809-sall3n5fbqjto7cv5soutpjjh24hfj60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418644416809-nub4f9lq78aoer3qipng73n5gi083jmh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWT8wP_Siw5wopoW0BFDDf8ZpQ4ZB2hcs</string>
	<key>GCM_SENDER_ID</key>
	<string>418644416809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackfinal</string>
	<key>PROJECT_ID</key>
	<string>hack17thjuly</string>
	<key>STORAGE_BUCKET</key>
	<string>hack17thjuly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418644416809:ios:35e0aa7e56b820f821ff38</string>
</dict>
</plist>